#info {
    position:absolute;
    top:10px;
    left:10px;
    width:100%;
    text-align:left;
    font-family:sans-serif;
}

p {
    color:white
}

body {
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}